CREATE TABLE IF NOT EXISTS job_status (
  job_id TEXT PRIMARY KEY,
  status TEXT NOT NULL,
  progress INTEGER,
  message TEXT,
  result JSONB,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create an index on updated_at for cleanup purposes
CREATE INDEX IF NOT EXISTS idx_job_status_updated_at ON job_status(updated_at);
